 <!-- <app-diretiva-ngif></app-diretiva-ngif>  -->

<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->

 <!-- <app-diretiva-ngfor></app-diretiva-ngfor>  -->

<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->

<!-- <app-direitiva-ngstyle></app-direitiva-ngstyle> -->

<!-- <app-operador-elves></app-operador-elves> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">
        Titulo do painel
    </div>
    <div class="corpo">
        Corpo do painel.
    </div>
</app-exemplo-ng-content> -->

<app-diretiva-personalizada></app-diretiva-personalizada>